@model ToDoList.Models.ToDo

@{
    ViewData["Title"] = "Create";
}


<h4>Task</h4>
<hr />

<div class="border container" style="padding:30px;">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    
        
            <form asp-action="Create" asp-controller="ToDoes">
                
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Todo"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Todo" class="form-control" />
                        <span asp-validation-for="Todo" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 offset-3">
                        <button type="submit" value="Create" class="btn btn-success form-control">
                            Create
                            </button>
                    </div>
                    <div class="col-3">
                        <a asp-action="Index" class="btn btn-success form-control" >Back to List</a>
                    </div>
                   </div>
            </form>
        
    

   

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
