<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="./Register" method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="age" placeholder="Age" />
        <button type="submit">Register</button>
    </form>
    <p>
        @ViewBag.Name
    </p>
    <p>
        @ViewBag.age
    </p>
</body>
</html>